<h1>Edit Your Grocery Item</h1>
<hr></hr>
<%= form_for @grocery do |f| %>

  <h2><%= label_tag(:title, "Title:") %></h2>
  <%= f.text_field :title %></br>

  <h2><%= label_tag(:description, "Description") %></h2>
  <%= f.text_area :description %></br>

  <%= f.submit "Update",:class => "btn btn-info" %>
<% end %>