<h1>Create a New Grocery Item</h1>
<%= form_for @grocery do |f| %>

  <%= label_tag(:title, "Title:") %>
  <%= f.text_field :title %></br>

  <%= label_tag(:description, "Description") %> 
  <%= f.text_area :description %></br>
  <%= f.submit "Create" %>
<% end %>

